body{
    font-family: sans-serif;
}

#calculator{
    width: 250px;
    background-image: linear-gradient(to top right, #ccc, #ddd);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.8);
    margin: 15px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px; 
    grid-template-rows: auto repeat(5, 40px);

}

input{
    padding: .25em;

}

input[type="textfield"]{
    font-size: 1.4em;
    background-image: linear-gradient(to top left, white, #ccc);
    box-shadow: inset 3px 2px 0 white; 
    padding: 10px;
    text-align: right;
    margin-bottom: 10px;
    grid-column: 1 / -1;
    
}

.mais{
    background-color: #adadad;
    grid-row: 5 / -1; 
    grid-column: 4 / -1;


}

.zero{
    background-color: #adadad;
    grid-column: 1 / 3;


}

.ac{
    background-color: #adadad;
    grid-column: 1 / 3;
    
}
